@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("PTSans"),
       url('../fonts/PTSans.woff2') format("woff2"),
       url('../fonts/PTSans.woff') format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("PTSans-Bold"),
       url('../fonts/PTSans-Bold.woff2') format("woff2"),
       url('../fonts/PTSans-Bold.woff') format("woff");
}

:root {
  --basic-white-100: rgba(255, 255, 255, 0.3);
  --basic-white-200: rgba(255, 255, 255, 0.9);
  --basic-white-300: #ffffff;
  --basic-grey-100: #f2f2f2;
  --basic-grey-200: #ebebeb;
  --basic-grey-250: #bdbbbc;
  --basic-grey-300: #a9a9a9;
  --basic-grey-350: #6a6a6a;
  --basic-grey-400: #eeeeee;
  --basic-grey-500: #888888;
  --basic-grey-600: #666666;
  --basic-grey-700: #333333;
  --basic-grey-800: #ababab;
  --basic-grey-850: #cacaca;
  --basic-grey-900: #e5e5e5;
  --basic-blue: #81b3d2;
  --basic-blue-hover: #669ec0;
  --basic-blue-active: #5496bd;
  --basic-brown: #766357;
  --basic-brown-hover:#604e43;
  --basic-brown-active: #503e33;
  --basic-dark: #000000;
  --basic-dark-100: rgba(0, 1, 1, 0.2);
}

.page {
  height: 100%;
  background-color: var(--basic-grey-400);
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-white-300);
  -webkit-box-shadow: 0px 5px 15px var(--basic-dark-100);
          box-shadow: 0px 5px 15px var(--basic-dark-100);
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.page a {
  text-decoration: none;
}

/*.page img {
  max-width: 100%;
  height: auto;
}*/

.page h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.page-navigation {
  display: -ms-grid;
  display: grid;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-dark);
  background-color: var(--basic-white-300);
}

.page-header-logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  top: 0;
  z-index: 1;
}

.site-navigation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 530px;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation-item {
  -ms-flex-preferred-size: 235px;
      flex-basis: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-item {
  -ms-flex-preferred-size: 225px;
      flex-basis: 225px;
  margin-right: 0;
  margin-left: auto;
}

.right-item:nth-child(2n) {
  margin-left: 0;
}

.site-navigation a {
  color: var(--basic-dark);
  line-height: 26px;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-dark);
  opacity: 0.3;
}

.site-navigation a:active,
.site-navigation a.active {
  color: var(--basic-brown);
}

/* Welcome */

.welcome {
  width: 1200px;
  height: 509px;
  text-align: center;
  background-image: url('../img/index/bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.welcome-img {
  width: 457px;
  height: 351px;
}

.welcome::before {
  position: absolute;
  content: '';
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 0;
  background-image: url('../img/index/Shape.svg');
}

/* Features */

.features {
  padding-top: 42px;
  text-align: center;
}

.feature-title {
  width: 470px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto 45px auto;
}

.feature-description {
  margin-bottom: 55px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: (-webkit-min-content)[4];
  -ms-grid-rows: (min-content)[4];
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  list-style: none;
}

.features-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.features-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.features-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.features-list > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.features-list > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.features-list > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.features-list > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.features-list > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.features-list > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.features-list > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.features-list > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.features-list > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.feature-item {
  text-align: center;
  background-color: var(--basic-grey-400);
}

.feature-item-first {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.feature-item-second {
  grid-column: 1/-1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.feature-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  padding: 45px 20px 39px 20px;
}

.feature-item-wrap--blue {
  padding-top: 41px;
  padding-bottom: 34px;
  background-color: var(--basic-blue);
  color: var(--basic-white-300);
}

.feature-item-title {
  margin: 0 auto;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 25px;
}

.feature-item-number {
  margin: 0;
  margin-bottom: 13px;
}

.feature-item-image {
  width: 800px;
  height: 256px;
}

.feature-item:nth-child(2) .feature-item-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.additional-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--basic-white-300);
}

.additional-item {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 20px 64px 20px;
}

.additional-item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 auto 15px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.additional-item-title::before {
  content: '';
  background-repeat: no-repeat;
  margin: 0 auto 28px auto;
}

.housing::before {
  width: 75px;
  height: 72px;
  left: -3px;
  background-image: url('../img/index/icon-advantage-1.svg');
}

.meal::before {
  width: 75px;
  height: 70px;
  left: -18px;
  background-image: url('../img/index/icon-advantage-2.svg');
}

.souvenirs::before {
  width: 64px;
  height: 77px;
  left: 20px;
  background-image: url('../img/index/icon-advantage-3.svg');
}

/* Capture unit*/

.capture-unit {
  text-align: center;
  padding: 55px 20px 0 20px;
}

.capture-unit-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 auto 33px auto;
}

.capture-unit-subtitle {
  width: 435px;
  margin: 0 auto 42px auto;
  line-height: 25px;
}

/* Button */

.button {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white-300);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--basic-blue-hover);
}
.button:focus,
.button:active {
  background-color: var(--basic-blue-active);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}

.button-search {
  background-color: var(--basic-brown);
  padding: 30px 139px 30px 140px;
  display: inline-block;
  min-width: 290px;
}

.button-search:hover {
  background-color: var(--basic-brown-hover);
}

.button-search:focus,
.button-search:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-white-100);
}

/* Filters */

.filters {
  padding: 25px 73px 31px 73px;
  color: var(--basic-white-300);
  background-color: var(--basic-dark);
  background-image: url('../img/catalog/bg-catalog.jpg');
  background-position: top center;
  background-repeat: no-repeat;
}

.filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 50px 200px 50px 1fr 50px 317px;
  grid-template-columns: 200px 200px 1fr 317px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
  -ms-grid-rows: -webkit-min-content 20px -webkit-min-content;
  -ms-grid-rows: min-content 20px min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
}

.filter > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.filter > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.filter > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.filter > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.filter > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.filter > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.filter > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.filter > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-item:not(:last-of-type) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.filter-item legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 25px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
}

.filter-option {
  display: block;
  padding-left: 40px;
  margin-bottom: 25px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: var(--basic-blue);
}

.filter-input + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 26px;
  height: 27px;
  background-image: url('../img/catalog/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:disabled + label::before {
  background-image: url('../img/catalog/checkbox-off-disabled.svg');
}

.filter-input:checked + label::before {
  background-image: url('../img/catalog/checkbox-on.svg');
}

.filter-input:checked:disabled + label::before {
  background-image: url('../img/catalog/checkbox-on-disabled.svg');
}

.form-price {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.form-price legend {
  margin-bottom: 11px;
}

.filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white-300);
  background-color: transparent;
  border: 2px solid var(--basic-white-300);
  border-radius: 2px;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 5px 35px 6px 31px;
  margin: 0 auto;
}

.filter-button:hover,
.filter-button:active {
  color: var(--basic-dark);
  background-color: var(--basic-white-300);
}

.range-controls {
  position: relative;
  height: 12px;
  padding-top: 10px;
  background-color: transparent;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-dark-100);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white-300);
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white-300);
  background-color: var(--basic-grey-800);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 80%;
}

.price-controls {
  position: relative;
  width: 301px;
  border: 2px solid var(--basic-white-300);
  border-radius: 2px;
  padding: 6px;
  margin-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-controls label {
  width: 50%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  position: relative;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  background-color: transparent;
  color: var(--basic-white-300);
  border: none;
  text-align: center;
  text-indent: 20px;
  -moz-appearance: textfield;
}

.min-price::before {
  content: 'от';
  position: absolute;
  left: 60px;
}

.min-price::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--basic-white-300);
}

.max-price::before {
  content: 'до';
  position: absolute;
  left: 50px;
}

/* Sorting */

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 73px 23px 73px;
  border-bottom: 1px solid var(--basic-grey-900);
}

.sorting-result {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 45px 0 0;
}

.sorting-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 40px;
}

.sorting-list,
.sorting-option {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-list li:not(:last-child) {
  margin-right: 35px;
}

.sorting-item {
  color: var(--basic-dark);
  opacity: 0.3;
}

.sorting-item:hover,
.sorting-item:focus,
.sorting-item-active {
  color: var(--basic-blue);
  opacity: 1;
}

.sorting-item:active {
  opacity: 1;
}

.sorting-option {
  margin-right: 0;
  margin-left: auto;
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sorting-button {
  display: block;
  background-color: transparent;
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent var(--basic-grey-850);
}

.sorting-option .sorting-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting-button:hover,
.sorting-button:focus {
  background: transparent;
  border-color: transparent transparent var(--basic-dark);
}

.sorting-button-active,
.sorting-button:active {
  border-color: transparent transparent var(--basic-blue);
}

/* Catalog */

.catalog {
  border-bottom: 1px solid var(--basic-grey-900);
}

.catalog-list,
.catalog-classification {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 6px 134px 6px 142px 6px 1fr 6px 110px;
  grid-template-columns: 135px 134px 142px 1fr 110px;
  -ms-grid-rows: -webkit-min-content, -webkit-min-content, -webkit-min-content;
  -ms-grid-rows: min-content, min-content, min-content;
  grid-template-rows: -webkit-min-content, -webkit-min-content, -webkit-min-content;
  grid-template-rows: min-content, min-content, min-content;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  padding: 26px 73px 30px 73px;
}

.catalog-item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalog-item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.catalog-item > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.catalog-item > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.catalog-item > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.catalog-item > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.catalog-item > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.catalog-item > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.catalog-item > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.catalog-item > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}

.catalog-item > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.catalog-item > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.catalog-item > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.catalog-item > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.catalog-item > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.catalog-item > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.catalog-item > *:nth-child(17) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.catalog-item > *:nth-child(18) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.catalog-item > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.catalog-item > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}

.catalog-item > *:nth-child(21) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.catalog-item > *:nth-child(22) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.catalog-item > *:nth-child(23) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.catalog-item > *:nth-child(24) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.catalog-item > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.catalog-item:not(:last-child) {
  border-bottom: 1px solid var(--basic-grey-900);
}

.catalog-item-image {
  margin: 0;
  width: 135px;
  height: 90px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-row-align: center;
      align-self: center;
}

.catalog-item-title {
  color: var(--basic-dark);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: -2px 0 7px 24px;
}

.catalog-item-title:hover {
  color: var(--basic-blue);
}

.catalog-item-title:focus,
.catalog-item-title:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

.catalog-category {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-left: 24px;
  margin: 0 0 15px 24px;
}

.catalog-item-price {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0 0 15px 0;
}

.button-more,
.botton-to-book {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 16px;
}

.button-more {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-left: 24px;
}

.botton-to-book {
  background-color: var(--basic-brown);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.botton-to-book:hover {
  background-color: var(--basic-brown-hover);
}

.botton-to-book:focus,
.botton-to-book:active {
  color: var(--basic-white-100);
  background-color: var(--basic-brown-active);
}

.catalog-classification {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.classification-item {
  display: inline;
}

.catalog-rating {
  color: var(--dark-grey-600);
  background-color: var(--basic-grey-100);
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin: 0;
  padding: 3px 12px 3px 15px;
}

/* Inner page */

.inner-content {
  padding: 55px 20px 65px 20px;
  border-bottom: 1px solid var(--basic-grey-900);
}

.inner-content h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 auto 33px auto;
}

.inner-content p {
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
}

/* Adress */

.adress {
  text-align: center;
}

.adress .map {
  display: block;
  width: 1200px;
  height: 474px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left 0%;
     object-position: left 0%;
}

/* Page footer */

.page-footer {
  padding: 0 73px 36px 110px;
  background-color: var(--basic-white-200);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 251px 163px 150px 163px 1fr;
  grid-template-columns: 251px 150px 1fr;
  grid-column-gap: 163px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.footer-tag {
  margin-top: 23px;
  margin-bottom: 9px;
}

.footer-phone {
  margin: 0;
}

.footer-contacts a {
  display: block;
  color: var(--basic-dark);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--basic-blue);
}

.footer-contacts a:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

.footer-social {
  margin-top: 36px;
  max-width: 150px;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin-bottom: 6px;
}

/* Social button */

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  color: var(--basic-white-300);
  position: relative;
}

.social-button::before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter::before {
  width: 17px;
  height: 17px;
  background-image: url('../img/index/twitter.svg');
}

.facebook::before {
  width: 12px;
  height: 22px;
  background-image: url('../img/index/fb-icon.svg');
}

.youtube::before {
  width: 20px;
  height: 16px;
  background-image: url('../img/index/youtube.svg');
}

.social-button:focus::before,
.social-button:active::before {
  opacity: 0.3;
}

/*Copyright*/

.footer-copyright {
  margin: 0;
  margin-top: 38px;
  margin-left: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.copyright-link {
  margin-left: 8px;
}

.copyright-link:hover svg path {
  fill: var(--basic-blue);
}

.copyright-link:focus svg path,
.copyright-link:active svg path {
  fill: var(--basic-grey-250);
}

/* Modal */

.modal {
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
  background-color: var(--basic-white-300);
  -webkit-box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 458px;
  margin: 0 auto;
  padding: 55px;
  position: absolute;
  top: 2167px;
  left: 50%;
  margin-left: -284px;
}

.modal-show {
  display: none;
}

.appointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appointment-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.appointment-item:not(.choice-age) {
  margin-bottom: 24px;
}

.choice-age {
  width: 229px;
}

.appointment-item label {
  width: 101px;
  text-align: left;
  margin-right: 11px;
}

.appointment-item:last-of-type label {
  text-align: right;
}

.appointment-item input {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-100);
  border: 2px solid transparent;
  width: 335px;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  position: relative;
}

.appointment-item input[type="date"]:before {
  content: attr(placeholder);
}

.appointment-item input[type="date"]:focus:before {
  content: '';
}

.appointment-item input::-webkit-outer-spin-button,
.appointment-item input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.appointment-item input[type='number'] {
  -moz-appearance: textfield;
}



.appointment-item:hover input {
  background-color: var(--basic-grey-200);
}

.appointment-item:focus input,
.appointment-item:active input {
  background-color: var(--basic-white-300);
  border: 2px solid var(--basic-grey-900);
}

.choice-age input {
  width: 90px;
  text-align: center;
  padding-right: 12px;
}

.login-form input:focus {
  border-color: var(--special);
}

.calendar {
  position: absolute;
  width: 21px;
  height: 23px;
  right: 8px;
  top: 7px;
}

.change-quantity {
  position: absolute;
}

.minus {
  width: 12px;
  height: 3px;
  left: 125px;
  top: 2px;
}

.plus {
  width: 11px;
  height: 11px;
  right: 13px;
  top: 7px;
}

.appointment-item span:hover path {
  fill: var(--basic-dark);
}

.appointment-item span:focus path,
.appointment-item span:active path {
  fill: var(--basic-blue);
}

.appointment-button {
  display: block;
  width: 100%;
  margin-top: 54px;
  padding: 16px 182px 16px 181px;
}
