@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("PTSans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("PTSans-Bold"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
}

:root {
  --basic-white-100: rgba(255, 255, 255, 0.3);
  --basic-white-200: rgba(255, 255, 255, 0.9);
  --basic-white-300: #ffffff;
  --basic-grey-100: #f2f2f2;
  --basic-grey-200: #ebebeb;
  --basic-grey-250: #bdbbbc;
  --basic-grey-300: #a9a9a9;
  --basic-grey-350: #6a6a6a;
  --basic-grey-400: #eeeeee;
  --basic-grey-500: #888888;
  --basic-grey-600: #666666;
  --basic-grey-700: #333333;
  --basic-grey-800: #ababab;
  --basic-grey-900: #e5e5e5;
  --basic-blue: #81b3d2;
  --basic-blue-hover: #669ec0;
  --basic-blue-active: #5496bd;
  --basic-brown: #766357;
  --basic-brown-hover:#604e43;
  --basic-brown-active: #503e33;
  --basic-dark: #000000;
  --basic-dark-100: rgba(0, 1, 1, 0.2);
}

.page {
  height: 100%;
  background-color: var(--basic-grey-400);
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-white-300);
  box-shadow: 0px 5px 15px var(--basic-dark-100);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

.page h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.page-header {
  margin-bottom: 70px;
}

.page-navigation {
  display: grid;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-dark);
  background-color: var(--basic-white-300);
}

.page-header-logo {
  order: 1;
  justify-self: center;
  position: absolute;
  top: 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item {
  flex-basis: 200px;
  text-align: center;
}

.right-item {
  margin-right: 0;
  margin-left: auto;
  justify-content: flex-end;
}

.right-item:nth-child(2n) {
  margin-left: 0;
}

.site-navigation a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-dark);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-dark);
  opacity: 0.3;
}

.site-navigation a:active,
.site-navigation a.active {
  color: var(--basic-brown);
}

/* Welcome */

.welcome {
  text-align: center;
  background-image: url("../img/index/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* Features */

.features {
  text-align: center;
}

.features-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  list-style: none;
}

.feature-item {
  text-align: center;
  background-color: var(--basic-grey-400);
}

.feature-item:first-child {
  grid-column: 1/-1;
  grid-row: 1/3;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.feature-item:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.feature-item-title {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-item-title--blue {
  background-color: var(--basic-blue);
  color: var(--basic-white-300);
}

.feature-item-image {
  width: 800px;
  height: 256px;
}

.feature-item-description {
  max-width: 301px;
}

.additional-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-white-300);
}

.additional-item {
  flex-basis: 400px;
  min-height: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-item h3,
.additional-item h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.additional-item-description {
  max-width: 301px;
}

/* Capture unit*/

.capture-unit {
  text-align: center;
}

/* Button */

.button {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white-300);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.button:hover {
  background-color: var(--basic-blue-hover);
}
.button:focus,
.button:active {
  background-color: var(--basic-blue-active);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}

.button-search {
  background-color: var(--basic-brown);
}

.button-search:hover {
  background-color: var(--basic-brown-hover);
}

.button-search:focus,
.button-search:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-white-100);
}

/* Filters */

.filter {
  padding: 26px 73px 31px 73px;
  color: var(--basic-white-300);
  background-color: var(--basic-dark);
  background-image: url(../img/catalog/bg-catalog.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 200px 200px 1fr 327px;
  gap: 20px;
  grid-template-rows: min-content min-content;
}

.filter-item:not(:last-of-type) {
  grid-row: 1/3;
}

.filter-item legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 25px;
}

.filter-item label {
  display: block;
  margin-bottom: 25px;
}

.filter-item label:last-child {
  margin-bottom: 0;
}

.fieldset-clear {
  border: none;
}

.form-price {
  grid-column: 4/5;
  grid-row: 1/2;
}

.filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white-300);
  background-color: transparent;
  border: 2px solid var(--basic-white-300);
  border-radius: 2px;
  box-sizing: border-box;
  grid-column: 4/5;
  grid-row: 2/3;
  width: min-content;
  padding: 7px 35px 8px 36px;
  margin: 0 auto;
}

.filter-button:hover,
.filter-button:active {
  color: var(--basic-dark);
  background-color: var(--basic-white-300);
}

.price-grid {
  width: 317px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 34px;
  grid-row-gap: 20px;
}

.price-grid-wrap {
  border: 2px solid var(--basic-white-300);
  border-radius: 2px;
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
}

.price-grid label {
  height: 100%;
  position: relative;
}

.price-grid-min:after {
  position: absolute;
  top: 4px;
  right: 0;
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--basic-white-300);
}

.price-grid input {
  background-color: transparent;
  color: var(--basic-white-300);
  border: none;
  height: 100%;
  text-align: center;
}

.price-range {
  grid-column: 1 / -1;
  position: relative;
}

.form-price input[type="range"] {
  width: 100%;
}

.range-toggle {
  position: absolute;
  top: 2px;
  width: 4px;
  height: 4px;
  background-color: var(--basic-grey-800);
  border: 8px solid var(--basic-white-300);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  right: 48px;
}

/* Sorting */

.sorting {
  display: flex;
  align-items: center;
  padding: 29px 73px 31px 73px;
  border-bottom: 1px solid var(--basic-grey-900);
}

.sorting-result {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-right: 45px;
}

.sorting-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 30px;
}

.sorting-option-1,
.sorting-option-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting-option-1 li:not(:last-child) {
  margin-right: 30px;
}

.sorting-option-2 {
  margin-right: 0;
  margin-left: auto;
}

.sorting-button {
  color: var(--basic-dark);
  background-color: transparent;
}

/* Catalog */

.catalog {
  border-bottom: 1px solid var(--basic-grey-900);
}

.catalog-list,
.catalog-classification {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  display: grid;
  grid-template-columns: 135px 134px 142px 1fr 110px;
  grid-template-rows: min-content, min-content, min-content;
  column-gap: 6px;
  padding: 30px 73px;
}

.catalog-item:not(:last-child) {
  border-bottom: 1px solid var(--basic-grey-900);
}

.catalog-item-image {
  margin: 0;
  width: 135px;
  height: 90px;
  grid-column: 1/2;
  grid-row: 1/4;
  align-self: center;
}

.catalog-item-title {
  color: var(--basic-dark);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  grid-column: 2/5;
  grid-row: 1/2;
  margin: 0 0 7px 24px;
}

.catalog-item-title:hover {
  color: var(--basic-blue);
}

.catalog-item-title:focus,
.catalog-item-title:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

.catalog-category {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 24px;
  margin: 0 0 15px 24px;
}

.catalog-item-price {
  grid-column: 3/4;
  grid-row: 2/3;
  margin: 0 0 15px 0;
}

.button-more,
.botton-to-book {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 16px;
}

.button-more {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-left: 24px;
}

.botton-to-book {
  background-color: var(--basic-brown);
  grid-column: 3/4;
  grid-row: 3/4;
}

.botton-to-book:hover {
  background-color: var(--basic-brown-hover);
}

.botton-to-book:focus,
.botton-to-book:active {
  color: var(--basic-white-100);
  background-color: var(--basic-brown-active);
}

.catalog-classification {
  grid-column: 5/6;
  grid-row: 1/2;
}

.classification-item {
  display: inline;
}

.catalog-rating {
  color: var(--dark-grey-600);
  background-color: var(--basic-grey-100);
  grid-column: 5/6;
  grid-row: 3/4;
  margin: 0;
  padding: 3px 12px 3px 15px;
}

/* Empty page */

.empty-page p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* Adress */

.adress {
  text-align: center;
}

.map {
  display: block;
}

/* Page footer */

.page-footer {
  padding: 0 73px;
  background-color: var(--basic-white-200);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
  width: 327px;
}

.footer-contacts a {
  color: var(--basic-dark);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--basic-blue);
}

.footer-contacts a:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

.footer-social {
  max-width: 150px;
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Social button */

.social-button a {
  color: var(--basic-white-300);
}

.footer-copyright {
  margin: 0;
  max-width: 327px;
  justify-self: end;
  display: inline-flex;
  align-items: flex-end;
}

.copyright-link:hover svg path {
  fill: var(--basic-blue);
}

.copyright-link:focus svg path,
.copyright-link:active svg path {
  fill: var(--basic-grey-250);
}

/* Modal */

.modal {
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
  background-color: var(--basic-white-300);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/* Search form */

.form-search input {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-100);
  border: none;
}

.login-form input:focus {
  border-color: var(--special);
}
